.BuildControls{
    width: 80%;
    background-color: rgb(218, 170, 68);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 3px rgb(224, 211, 86);
    margin: 50px auto;
    padding: 10px 10px;    
    transition: all 0.3s ease-out;
}

.BuildControls:hover{
    box-shadow: 0px 0px 15px 4px black, inset 0px 0px 15px 4px rgb(218, 200, 144);
}

.BuildControls p{
    font-size: 20px;
}

@media(min-width: 500px) {
    .BuildControls{
        width: 65%;
    }
}

.OrderButton {
    margin-top: 20px;
    background-color: rgb(223, 218, 182);
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    padding: 10px 15px;
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out;
}

.OrderButton:hover, .OrderButton:active {
    background-color: rgb(223, 218, 182);
    color: black;
    box-shadow: 0px 0px 13px 1px black;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
    box-shadow: none;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}