.Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Button button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.Button button:disabled {
    background-color: #C7C6C6;
    border: 1px solid rgb(182, 177, 177);
    color: #888888;
    cursor: default;
}

.Button button:hover:disabled {
    background-color: #C7C6C6;
    color: #888888;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.Button .Less {  
    background-color: #D39952;
    color: white;
}

.Button .More {
    background-color: #8F5E1E;
    color: white;
}

.Button .Less:hover, .Button .Less:active {  
    background-color: #DAA972;
    color: white;
}

.Button .More:hover,.Button .More:active {
    background-color: #99703F;
    color: white;
}