.CustomButton {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

/* .CustomButton:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.CustomButton:disabled{
    color: #ccc;
    cursor: not-allowed;
}

.CustomButton:disabled:hover{
    color: #ccc;
    cursor: not-allowed;
}

.CustomButton:hover{
    color: rgb(0, 0, 0);
}

.Success {
    color: rgb(119, 189, 21);
}

.Danger {
    color: #bd4f14;
}